.git/
.github/
.idea/
.vscode/

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

.env
.venv/
.venv-conda/
venv/
*.egg-info/

logs/
tmp/
temp/
.cache/
.prompts/

chroma_db/
chroma_db_test/


docs/superpowers/new plans/
*.tar
