# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Environment
.env

# Cache and logs
.cache/
logs/
.prompts/

# Vector store data
chroma_db/
vector_store.json
chroma_db_test/

# Model cache
.hf_cache/
.model_cache/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# notebooks checkpoint
.ipynb_checkpoints/

# temp
tmp/
temp/
*.txt
